/*  ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---
      サイト全体のスタイル
    ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */
// 全要素
* {
  font-family: '';
}

// ボディ
body {
  background-color: #3F3F3F;
  color: #FFEBD8;
}

// リンク色
link,
a {
  &:link {
    color: #7FFFFF;
  }

  &:visited {
    color: #7F7FFF;
  }

  &:hover {
    color: #00CFCF;
    text-decoration: underline;
  }
}

/* ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */